<div class="main">
  <div class="container">
    <% if current_user.manager? %>
        <p><%= "You are a manager for project: #{current_user.project}"  %> </p>
    <% end %>
    <p>Please do not enter any coral health at this time. Fish and algae only for now.</p>
    <div class="col text-center">
      <div class="btn-group-vertical">
        <a> <%= button_to "Fish Transect", '/fish_transects', method: :get, :class => "btn btn-primary" %></a>
        <a> <%= button_to "Fish Rover", '/fish_rovers', method: :get, :class => "btn btn-primary" %></a>
        <!--<a> <%= button_to "Coral Health", '/coral_healths', method: :get, :class => "btn btn-primary" %></a>-->
        <a> <%= button_to "Algae Heights", '/algae_heights', method: :get, :class => "btn btn-primary" %></a>
      </div>
    </div>
    <div class="col text-center" style="margin-top: 20px">
      <div class="btn-group-vertical">
        <% if current_user.manager? %>
            <a> <%= button_to "Boat Logs", '/boatlogs', method: :get, :class => "btn btn-info" %></a>
        <% end %>
        <% if current_user.manager? %>
            <a> <%= button_to "Dashboard", '/dashboard', method: :get, :class => "btn btn-info" %></a>
        <% end %>
        <% if current_user.admin? %>
            <a> <%= button_to "Manage Users", '/users', method: :get, :class => "btn btn-info" %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>