<div class="form-horizontal">
	<%= form_for @boatlog, :html => {:autocomplete => "off"} do |f|%>
	<%= render 'shared/error_messages', :target => @boatlog %>
		<div class="row">
			<div class="col-md-4">
		    <div class='control-group'>
			    <%= f.label :site_id, 'Site Name' %>
			    <%= f.collection_select :site_id, Site.all, :id, :site_name, {:include_blank => ""} %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :date_completed, 'Date Completed' %>
			    <%= f.text_field :date_completed, placeholder: "YYYY-MM-DD" %> 
			  </div>
			  <div class='control-group'>
		      <%= f.label :begin_time, 'Begin Time' %>
		      <%= f.text_field :begin_time, value: f.object.try(:begin_time).try(:strftime, "%H:%M"), placeholder: "HH:MM (24 hr clock)" %> 
		    </div>
		    <div class='control-group'>
		      <%= f.label :manager_id, 'Project' %>
		      <%= f.collection_select :manager_id, Manager.all, :id, :project, {:include_blank => ""} %> 
		    </div>
		  </div>
			<div class="col-md-3">
		    <div class='control-group'>
		    	<%= f.label :notes, 'Notes' %>
		    	<%= f.text_area :notes, { :size => '60x4' } %>
		    </div>
	    </div>
    </div>

    <div>
      <h3>Surveys</h3>
      <ul class="surveyLabels list-inline", style="margin-left:40px">
    		<li class="col-md-3 field"> Observer</li><li class="col-md-2 field">Survey Type</li><li class="col-md-2 field">Replicate</li>
    	</ul>
      <br>
  		<div id='boatlog_surveys'>
  			<ol class="surveyList">
			    <%= f.fields_for :boatlog_surveys do |builder| %>
			      <%= render 'survey_fields', f: builder %>
			    <% end %>
		      <div class="links">
				     <%= link_to_add_association "Add Survey", f, :boatlog_surveys, partial: 'survey_fields', class: "addDiver" %>
		      </div>
		    </ol>
	     </div>
	   </div>

	  <%= f.submit "Save Boatlog", class: "btn-submit" %>
  <% end %>
</div>