<div class='nested-fields'>
	<div class="row">
		<div class="col-md-3 field">
		<%= f.label :user_id, 'Observer' %>
		<%= f.collection_select :user_id, User.all, :id, :name, {:include_blank => ""} %>
		</div>
		<div class="col-md-3 field">
		<%= f.label :survey_type_id, 'Survey Type' %>
		<%= f.collection_select :survey_type_id, SurveyType.all, :id, :type_name, {:include_blank => ""} %>
		</div>
		<div class="col-md-3 field">
		<%= f.label :rep, 'Transect Number' %>
		<%= f.text_field :rep, { value: 1, :size => '3' } %>
		</div>
		<%= link_to_remove_association "Remove Survey", f, partial: 'survey_fields', tabindex: "-1" %>
	</div>
</div>