<div class='nested-fields'>
	<li style="list-style: none;">
		<%= f.label :user_id, 'Observer' %>
		<%= f.collection_select :user_id, User.all, :id, :name, {:include_blank => ""} %>
		<%= f.label :survey_type_id, 'Survey Type' %>
		<%= f.collection_select :survey_type_id, SurveyType.all, :id, :type_name, {:include_blank => ""} %>
		<%= f.label :rep, 'Replicate' %>
		<%= f.text_field :rep, { value: 1, :size => '3' } %>
		<%= link_to_remove_association "Remove Survey", f, partial: 'survey_fields' %>
	</li>
</div>