<div class="main">
  <div class="container">
  	<h1>Edit Boatlog</h1>
  	<p><%= button_to 'Cancel', '/boatlogs', method: :get, data: { confirm: 'Cancel edit?' } %></p>
    <%= form_for(@boatlog) do |f|%>
	    <%= f.label :site, 'Site Name' %>
	    <%= f.text_field :site %> 
	    <%= f.label :date_completed, 'Date Completed' %>
	    <%= f.text_field :date_completed %> 
      <%= f.label :begin_time, 'Begin Time' %>
      <%= f.text_field :begin_time, 
      :value => "#{@boatlog.begin_time.strftime("%H:%M")}" %> 
      <%= f.label :manager_id, 'Project' %>
      <%= f.collection_select :manager_id, Manager.all, :id, :project, {:include_blank => ""} %> 
	    <%= f.submit "Update Boatlog", class: "btn-submit" %>
    <% end %>
  </div>
</div>