<div class="main">
  <div class="container">
    <%= button_to "New Boatlog", '/boatlogs/new', method: :get %>
    <%= button_to "Export CSV", boatlogs_path(format: :csv), method: :get %>
    <%= button_to "Field Progress", '/sites', method: :get %>
    <h1>TCRMP Boatlogs</h1>
    <table id="boatlogList", class="display table table-striped table-condensed table-sortable">
      <thead>
        <% #print table header %>
        <tr>
          <th>Site</th>
          <th>Date</th>
          <th>Project</th>
          <th>Fish Transects</th>
          <th>Fish Rovers</th>
          <th>Coral Health Transects</th>
          <th>Algae Heights</th>
          <th>Date Entered</th>
        </tr>
      </thead>
      <tbody>
        <% #print table fields %>
        <% @all_boatlogs.each do |bl| %>
          <tr data-link="<%=boatlog_path(bl.id)%>">
            <td><%= bl.site.site_name %></td>
            <td><%= bl.date_completed %></td>
            <td><%= bl.manager.project %></td>
            <td><%= bl.countfishtran %></td>
            <td><%= bl.countfishrov %></td>
            <td><%= bl.countcoralhealth %></td>
            <td><%= bl.countalgaeht %></td>
            <td><%= bl.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>