<div class="main">
  <div class="container">
  	<h1>Edit Manager</h1>
  	<p><%= button_to 'Cancel', '/managers', method: :get, data: { confirm: 'Cancel edit?' } %></p>
    <%= form_for(@manager) do |f|%>
	    <%= f.label :user_id, 'Name' %>
	    <%= f.collection_select :user_id, User.all, :id, :name, {:include_blank => ""} %> 
	    <%= f.label :project, 'Project' %>
	    <%= f.text_field :project %> 
	    <%= f.submit "Update Manager", class: "btn-submit" %>
    <% end %>
    </div>
</div>