<div class='nested-fields'>
	<div class="row" id='coralRow'>
		<div class="col-md-3 field">
			<%= f.collection_select :coral_code_id, CoralCode.where(group: "Identification").order(code_name: :asc).all, :id, :combo_name, {:include_blank => ""}, {:class=>"speciesSelect" } %> 
		</div>
		<div class="col-md-1 field">
			<%= f.text_field :length_cm, { :size => '3', :class=>"dimField", :id=>"lengthField" } %>
		</div>
		<div class="col-md-1 field">
			<%= f.text_field :width_cm, { :size => '3', :class=>"dimField", :id=>"widthField" } %>
		</div>
		<div class="col-md-1 field">
			<%= f.text_field :height_cm, { :size => '3', :class=>"dimField", :id=>"heightField" } %>
		</div>
		<div class="col-md-1 field">
			<%= f.text_field :old_mortality, { :size => '3', :class=>"dimField", :id=>"oldMField" } %>
		</div>
		<div class="col-md-1 field">
			<%= f.text_field :new_mortality, { :size => '3', :class=>"dimField", :id=>"newMField" } %>
		</div>
		<div class="col-md-2 field">
			<%= f.text_field :notes, { :size => '20', :class=>"dimField", :id=>"notesfield" } %>
		</div>
		<%= link_to_remove_association "Remove Coral", f, partial: 'coral_fields', tabindex: "-1" %>
	</div>
	<br>
	<div id='interactions' style="padding-left:250px">
    <%= f.fields_for :coral_interactions do |builder| %>
      <%= render 'interaction_fields', f: builder %>
    <% end %>
    <div class="links">
	     <%= link_to_add_association "Add Interaction", f, :coral_interactions, partial: 'interaction_fields', class: "addInteraction" %>
    </div>
  </div>
</div>