<div class="form-horizontal">
	<%= form_for @chealth, :html => {:autocomplete => "off"} do |f|%>
	<%= render 'shared/error_messages', :target => @chealth %>
	<p><b>If entering a belt transect, please select "belt" as the method and put belt size in the notes box below (e.g., 50 cm). Enter ONLY the corals in the belt (skip the intercept corals).  Save the transect, then create a new transect, select "intercept" as the method, and enter ONLY the intercept corals from that same transect.</b></p>
		<div class="row">
			<div class="col-md-4">
				<div class='control-group'>
					<%= f.label :proofed, 'Proofed?' %>
		      <%= f.check_box :proofed %> 
				</div>
				<div class='control-group'>
		      <%= f.label :manager_id, 'Project' %>
		      <%= f.collection_select :manager_id, Manager.all, :id, :project, {:include_blank => ""} %> 
		    </div>
		    <div class='control-group'>
			    <%= f.label :site_id, 'Site Name' %>
			    <%= f.collection_select :site_id, Site.all, :id, :combo_name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :user_id, 'Observer' %>
			    <%= f.collection_select :user_id, User.where(active: "true").order(name: :asc).all, :id, :name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :date_completed, 'Date Completed' %>
			    <%= f.text_field :date_completed, placeholder: "YYYY-MM-DD" %> 
			  </div>
			  <div class="control-group">
					<%= f.label :rep, 'Transect #' %>
					<%= f.text_field :rep, { :size => '3' } %>
				</div>
				<div class='control-group'>
		      <%= f.label :method, 'Method' %>
		      <%= f.select :method, ['intercept','belt-50cm','belt-other'], {:include_blank => ""} %> 
		    </div>
		  </div>

			<div class="col-md-3">
		    <div class='control-group'>
		    	<%= f.label :notes, 'Notes' %>
		    	<%= f.text_area :notes, { :size => '60x4' } %>
		    </div>
	    </div>
    </div>

    <div>
      <h3>Coral</h3>
      <p>If you don't have coral measurements or an estimate of interaction extent, put a 0 in the appropriate box.<br>For a presence/absence interaction (i.e., icing sponge), enter a 1.<br>Use the notes box for bleaching type (e.g., granular, multifocal) and cause (e.g., Dict interaction), presence of damage, interaction cause (e.g., STPL), or other important notes.</p>
      <ul class="coralLabels list-inline" style="background: #DDD;white-space:nowrap;position:sticky;top:0;border-bottom: 3px solid black;">
	      		<li class="speciesHead col-md-3 field"> Species</li><li class="dimHead">Length<br>(cm)</li><li class="dimHead">Width<br>(cm)</li><li class="dimHead">Height<br>(cm)</li><li class="dimHead">SP</li><li class="dimHead">P</li><li class="dimHead">VP</li><li class="dimHead">BL</li><li class="dimHead">Old<br>Mort</li><li class="dimHead">Recent<br>Mort</li><li class="col-md-2 field">Notes</li>
	    	</ul>
	    	<br>
  		<div id='corals'>
		    <%= f.fields_for :transect_corals do |builder| %>
		      <%= render 'coral_fields', f: builder %>
		    <% end %>
	      <div class="links">
			     <%= link_to_add_association "Add Coral", f, :transect_corals, partial: 'coral_fields', class: "addCoral" %>
	      </div>
	     </div>
	   </div>

	  <%= f.submit "Save Coral Health", class: "btn-submit", style: "margin-top:50px;margin-bottom:100px" %>
  <% end %>
</div>
<script>
  var coral_info = <%= raw CoralCode.all.to_json %>
</script>