<div class="form-horizontal">
	<%= form_for @frove, :html => {:autocomplete => "off"} do |f|%>
	<%= render 'shared/error_messages', :target => @frove %>
		<div class="row">
			<div class="col-md-4">
				<div class='control-group'>
					<%= f.label :proofed, 'Proofed?' %>
		      <%= f.check_box :proofed %> 
				</div>
				<div class='control-group'>
		      <%= f.label :manager_id, 'Project' %>
		      <%= f.collection_select :manager_id, Manager.all, :id, :project, {:include_blank => ""} %> 
		    </div>
		    <div class='control-group'>
			    <%= f.label :site_id, 'Site Name' %>
			    <%= f.collection_select :site_id, Site.all, :id, :combo_name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :user_id, 'Observer' %>
			    <%= f.collection_select :user_id, User.where(active: "true").order(name: :asc).all, :id, :name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :date_completed, 'Date Completed' %>
			    <%= f.text_field :date_completed, placeholder: "YYYY-MM-DD" %> 
			  </div>
			  <div class="control-group">
					<%= f.label :oc_cc, 'OC/CC' %>
					<%= f.select :oc_cc, [['OC','OC'], ['CC','CC']], {:include_blank => ""}%>
				</div>
			  <div class="control-group">
					<%= f.label :rep, 'Rover #' %>
					<%= f.text_field :rep, { :size => '3' } %>
				</div>
		  </div>

			<div class="col-md-3">
		    <div class='control-group'>
		    	<%= f.label :notes, 'Notes' %>
		    	<%= f.text_area :notes, { :size => '60x4' } %>
		    </div>
	    </div>
    </div>

	  <div>
      <h3>Fish</h3>
      <div class="fishLabels">
      	<ul class="list-inline">
      		<li class="col-md-3"> Species</li><li class="col-md-1">Abundance Index (1-5)</li><li class="col-8"> </li>
      	</ul>
      </div>
      <br>
  		<div id='fishes'>
  			<ol class="fishList">
  				<%= f.fields_for :rover_fishes do |builder| %>
	  				<%= render 'fishes_fields', :f => builder %>
  				<% end %>
		      <div class="links">
				     <%= link_to_add_association "Add Species", f, :rover_fishes, partial: 'fishes_fields', class: "addFish" %>
		      </div>
			  </ol>
	     </div>
	   </div>

	  <%= f.submit "Save Fish Rover", class: "btn-submit", tabindex: "-1" %>
  <% end %>
</div>
<script>
  var fish_info = <%= raw Fish.all.to_json %>
</script>