<div class="main">
  <div class="container">
    <%= button_to "New Fish Rover", '/fish_rovers/new', method: :get %>
    <%= button_to "Export CSV", fish_rovers_path(format: :csv), method: :get %>
    <h1>Fish Rovers</h1>
    <table class="display table table-striped table-condensed table-sortable">
      <thead>
        <% #print table header %>
        <tr>
          <th>Diver</th>
          <th>Site</th>
          <th>Date</th>
          <th>Replicate</th>
          <th>Fish Species</th>
          <th>Date Entered</th>
          <th>Proofed?</th>
        </tr>
      </thead>
      <tbody>
        <% #print table fields %>
        <% @frove.each do |fr| %>
          <tr data-link="<%=fish_rover_path(fr.id)%>">
            <td><%= fr.user.name %></td>
            <td><%= fr.site.site_name %></td>
            <td><%= fr.date_completed %></td>
            <td><%= fr.rep %></td>
            <td><%= fr.countfishspecies %></td>
            <td><%= fr.created_at %></td>
            <td><%= fr.proofed %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>