<div class='nested-fields'>
	<div class="row ESARow">
		<tr>
			<td><%= f.text_field :oann, {:size=>'2', :class=>"esaField"} %> </td>
			<td><%= f.text_field :ofav, {:size=>'2', :class=>"esaField"} %> </td>
			<td><%= f.text_field :ofra, {:size=>'2', :class=>"esaField"} %> </td>
			<td><%= f.text_field :apal, {:size=>'2', :class=>"esaField"} %> </td>
			<td><%= f.text_field :acer, {:size=>'2', :class=>"esaField"} %> </td>
			<td><%= f.text_field :apro, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :dcyl, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :mfer, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :mmea, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :dsto, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :efas, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :rami, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :dead_APAL, {:size=>'2', :class=>"esaField"} %> </td>
      <td><%= f.text_field :dead_DCYL, {:size=>'2', :class=>"esaField"} %> </td>
		</tr>
	</div>
</div>