<div class="nested-fields" style="border-bottom: 3px dashed #bbb;">
	<div class="row">
		<li style="white-space:nowrap;list-style-type:none;">
			<%= f.text_field :plot, { :size => '2', :class=>"plotField plotplot firstbox" } %>
			<%= f.select :habitat, ['AGRF','PTRF','PVMT','SCRS'], {:include_blank => ""}, {:style=>"width:80px"} %> 
			<%= f.text_field :hardbottom, { :size => '3', :class=>"plotField", :style=>"margin-right:50px"}%>
			<%= f.text_field :coral_cover, { :size => '3', :class=>"plotField"}%>
			<%= f.text_field :max_relief_cm, { :size => '3', :class=>"plotField" } %>
			<%= f.text_field :min_depth, { :size => '3', :class=>"plotField depthField", :id=> "minDepth" } %>
			<%= f.text_field :max_depth, { :size => '3', :class=>"plotField depthField", :id=> "maxDepth" } %>
			<%= link_to_remove_association "Remove Plot", f, partial: 'plot_fields', tabindex: "-1" %>
		</li>
	</div>
	<br>
	<div id='plotCorals' style="margin-left:50px">
		<p><b>Corals</b></p>
		<p>We need an entry for every quadrant. If there were no corals in a quadrant, select "NOCORAL" as the species, and enter "1" as the max diam.</p>
	  <ul class="pCoralLabels list-inline" style="background: #DDD;white-space:nowrap;position:sticky;top:0;border-bottom: 3px solid black;">
  		<li class="pcHead">Quadrant</li><li class="pcHead" style="padding-right:180px">Species</li><li class="pcHead">Max Diam<br>(cm)</li><li class="pcHead">Old Mort</li><li class="pcHead">New Mort</li><li class="pcHead" style="padding-right:50px;padding-left:10px">Disease</li><li class="pcHead">Notes</li>
  	</ul>
    <%= f.fields_for :e_plot_corals, :wrapper => false do |builder| %>
      <%= render 'pcoral_fields', f: builder %>
    <% end %>
    <div class="links">
     	<%= link_to_add_association "Add Coral", f, :e_plot_corals, partial: 'pcoral_fields', class: "addPCoral" %>
    </div>
	</div>
</div>