<div class="container">
	<div class='formContainer'>
		<%= button_to "Back to ECMP Surveys", '/e_surveys', method: :get%>
    <%= button_to "New ECMP Survey", '/e_surveys/new', method: :get %>
		<div class="showActions" style="margin-top: 20px">
    <div class="btn-group-vertical">
      <%= button_to('Edit ECMP Survey', edit_e_survey_path(@esurv), :method => "get") %>
      <%= button_to('Delete ECMP Survey', @esurv, data: { confirm: 'Are you sure?' }, method: :delete) %>
    </div>
	  </div>
	  <div id="sampleSection" class="sectionDiv">
  <div class='show_section_1'>
    <div id='section_1'>

      <dl class="dl-horizontal">
        <dt>Proofed</dt><dd><%= @esurv.proofed %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Field ID</dt><dd><%= @esurv.fid %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Diver</dt><dd><%= @esurv.user.name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Buddy</dt><dd><%= @esurv.buddy %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Team</dt><dd><%= @esurv.team %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Role</dt><dd><%= @esurv.role %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample Date</dt><dd><%= @esurv.date_completed %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Time</dt><dd><%= @esurv.try(:begin_time).try(:strftime, "%H:%M") %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Habitat</dt><dd><%= @esurv.habitat %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Notes</dt><dd><%= @esurv.notes %></dd>
      </dl>
    </div>

    <div id='section_2'>
      <h2>Plots</h2>
      <table id="PlotList", class="display table table-striped" style="width: auto">
        <thead>
          <% #print table header %>
          <tr>
          	<th>Plot</th>
          	<th>Hardbottom %</th>
            <th>Coral Cover %</th>
            <th>Max Relief (cm)</th>
            <th>Min Depth (ft)</th>
            <th>Max Depth (ft)</th>
          </tr>
        </thead>
        <tbody>
          <% @eplots.each do |p|  %>
            <tr>
            	<td><%= p.plot %></td>
            	<td><%= p.hardbottom %></td>
              <td><%= p.coral_cover %></td>
              <td><%= p.max_relief_cm %></td>
              <td><%= p.min_depth %></td>
              <td><%= p.max_depth %></td>
            </tr>   
          <% end %>
        </tbody>
      </table>
    </div>

    <div id='section_3'>
      <h2>Corals</h2>
      <table id="CoralList", class="display table table-striped" style="width: auto">
        <thead>
          <% #print table header %>
          <tr>
            <th>Plot</th>
            <th>Quadrant</th>
            <th>Species</th>
            <th>Max Diam (cm)</th>
            <th>Old Mort</th>
            <th>New Mort</th>
            <th>Disease</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @eplotcs.each do |c|  %>
            <tr>
              <td><%= c.e_plot.plot %></td>
              <td><%= c.quadrant %></td>
              <td><%= c.coral_code.long_code %></td>
              <td><%= c.max_diam %></td>
              <td><%= c.old_mortality %></td>
              <td><%= c.new_mortality %></td>
              <td><%= c.disease %></td>
              <td><%= c.notes %></td>
            </tr>   
          <% end %>
        </tbody>
      </table>
    </div>

    <div id='section_4'>
      <h2>ESA</h2>
      <table id="ESAList", class="display table table-striped" style="width: auto">
        <thead>
          <% #print table header %>
          <tr>
            <th>OANN</th>
            <th>OFAV</th>
            <th>OFRA</th>
            <th>APAL</th>
            <th>ACER</th>
            <th>APRO</th>
            <th>DCYL</th>
            <th>MFER</th>
            <th>MMEA</th>
            <th>DSTO</th>
            <th>EFAS</th>
            <th>Rami</th>
            <th>Dead APAL</th>
            <th>Dead DCYL</th>
          </tr>
        </thead>
        <tbody>
          <% @eesa.each do |e|  %>
            <tr>
              <td><%= e.oann %></td>
              <td><%= e.ofav %></td>
              <td><%= e.ofra %></td>
              <td><%= e.apal %></td>
              <td><%= e.acer %></td>
              <td><%= e.apro %></td>
              <td><%= e.dcyl %></td>
              <td><%= e.mfer %></td>
              <td><%= e.mmea %></td>
              <td><%= e.dsto %></td>
              <td><%= e.efas %></td>
              <td><%= e.rami %></td>
              <td><%= e.dead_APAL %></td>
              <td><%= e.dead_DCYL %></td>
            </tr>   
          <% end %>
        </tbody>
      </table>
    </div>
	</div>
</div>