<div class="form-horizontal">
	<%= form_for @ftran, :html => {:autocomplete => "off"} do |f|%>
	<%= render 'shared/error_messages', :target => @ftran %>
		<div class="row">
			<div class="col-md-4">
				<div class='control-group'>
		      <%= f.label :manager_id, 'Project' %>
		      <%= f.collection_select :manager_id, Manager.all, :id, :project, {:include_blank => ""} %> 
		    </div>
		    <div class='control-group'>
			    <%= f.label :site_id, 'Site Name' %>
			    <%= f.collection_select :site_id, Site.all, :id, :site_name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :user_id, 'Observer' %>
			    <%= f.collection_select :user_id, User.where(active: "true").order(name: :asc).all, :id, :name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :date_completed, 'Date Completed' %>
			    <%= f.text_field :date_completed, placeholder: "YYYY-MM-DD" %> 
			  </div>
			  <div class="control-group">
					<%= f.label :oc_cc, 'OC/CC' %>
					<%= f.select :oc_cc, [['OC','OC'], ['CC','CC']], {:include_blank => ""}%>
				</div>
			  <div class="control-group">
					<%= f.label :rep, 'Replicate' %>
					<%= f.text_field :rep, { :size => '3' } %>
				</div>
				<div class="control-group">
					<%= f.label :completed_m, 'Meters Completed' %>
					<%= f.text_field :completed_m, { :size => '3', :value => "25" } %>
				</div>
		  </div>

			<div class="col-md-3">
		    <div class='control-group'>
		    	<%= f.label :notes, 'Notes' %>
		    	<%= f.text_area :notes, { :size => '60x4' } %>
		    </div>
	    </div>
    </div>

    <div>
      <h3>Diadema</h3>
      <p>Enter estimated test size in centimeters for each Diadema seen.<br>If you saw no Diadema, put a 0 in the size box.<br>If you didn't size them or forgot to look, click "Remove Diadema".</p>
  		<div id='diademas'>
		    <%= f.fields_for :diademas do |builder| %>
		      <%= render 'diadema_fields', f: builder %>
		    <% end %>
	      <div class="links">
			     <%= link_to_add_association "Add Diadema", f, :diademas, partial: 'diadema_fields', class: "addDiadema" %>
	      </div>
	     </div>
	   </div>

	  <div>
      <h3>Fish</h3>
      <div style="overflow:auto;max-height:480px;background: #DDD;border: 1px solid #cccccc;">
	      <ul class="fishLabels list-inline" style="background: #DDD;white-space:nowrap;position:sticky;top:0;border-bottom: 3px solid black;">
	      		<li class="speciesHead"> Species</li><li class="sizeBinHead">0-5 cm</li><li class="sizeBinHead">6-10 cm</li><li class="sizeBinHead">11-20 cm</li><li class="sizeBinHead">21-30 cm</li><li class="sizeBinHead">31-40 cm</li><li class="sizeBinHead">41-50 cm</li><li class="sizeBinHead">51-60 cm</li><li class="sizeBinHead">61-70 cm</li><li class="sizeBinHead">71-80 cm</li><li class="sizeBinHead">81-90 cm</li><li class="sizeBinHead">91-100 cm</li><li class="sizeBinHead">101-110 cm</li><li class="sizeBinHead">111-120 cm</li><li class="sizeBinHead">121-130 cm</li><li class="sizeBinHead">131-140 cm</li><li class="sizeBinHead">141-150 cm</li><li class="sizeBinHead">&gt150 cm</li>
	    	</ul>
	      <br>
	  		<div id='fishes'>
	  			<ol class="fishList">
	  				<%= f.fields_for :transect_fishes do |builder| %>
		  				<%= render 'fishes_fields', :f => builder %>
	  				<% end %>
			      <div class="links">
					     <%= link_to_add_association "Add Species", f, :transect_fishes, partial: 'fishes_fields', class: "addFish", style: "position:sticky;left:0" %>
			      </div>
				  </ol>
		     </div>
		   </div>
	   </div>

	  <%= f.submit "Save Fish Transect", class: "btn-submit", style: "margin-top:50px;margin-bottom:100px" %>
  <% end %>
</div>
<script>
  var fish_info = <%= raw Fish.all.to_json %>
</script>