<div class="form-horizontal">
	<%= form_for @ftran, :html => {:autocomplete => "off"} do |f|%>
	<%= render 'shared/error_messages', :target => @ftran %>
		<div class="row">
			<div class="col-md-4">
				<div class='control-group'>
		      <%= f.label :manager_id, 'Project' %>
		      <%= f.collection_select :manager_id, Manager.all, :id, :project, {:include_blank => ""} %> 
		    </div>
		    <div class='control-group'>
			    <%= f.label :site_id, 'Site Name' %>
			    <%= f.collection_select :site_id, Site.all, :id, :site_name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :user_id, 'Observer' %>
			    <%= f.collection_select :user_id, User.order(name: :asc).all, :id, :name, {:include_blank => ""}, {:class=>"metaSelect" } %> 
		  	</div>
		  	<div class='control-group'>
			    <%= f.label :date_completed, 'Date Completed' %>
			    <%= f.text_field :date_completed, placeholder: "YYYY-MM-DD" %> 
			  </div>
			  <div class='control-group'>
			      <%= f.label :begin_time, 'Begin Time' %>
			      <%= f.text_field :begin_time, value: f.object.try(:begin_time).try(:strftime, "%H:%M"), placeholder: "HH:MM (24 hr clock)" %> 
			  </div>
			  <div class="control-group">
					<%= f.label :oc_cc, 'OC/CC' %>
					<%= f.select :oc_cc, [['OC','OC'], ['CC','CC']], {:include_blank => ""}%>
				</div>
			  <div class="control-group">
					<%= f.label :rep, 'Replicate' %>
					<%= f.text_field :rep, { :size => '3' } %>
				</div>
				<div class="control-group">
					<%= f.label :completed_m, 'Meters Completed' %>
					<%= f.text_field :completed_m, { :size => '3' } %>
				</div>
		  </div>

			<div class="col-md-3">
		    <div class='control-group'>
		    	<%= f.label :notes, 'Notes' %>
		    	<%= f.text_area :notes, { :size => '60x4' } %>
		    </div>
	    </div>
    </div>

    <div>
      <h3>Diadema</h3>
  		<div id='diademas'>
		    <%= f.fields_for :diademas do |builder| %>
		      <%= render 'diadema_fields', f: builder %>
		    <% end %>
	      <div class="links">
			     <%= link_to_add_association "Add Diadema", f, :diademas, partial: 'diadema_fields' %>
	      </div>
	     </div>
	   </div>

	  <div>
      <h3>Fish</h3>
  		<div id='fishes'>
		    <%= f.fields_for :transect_fishes do |builder| %>
		      <%= render 'fishes_fields', f: builder %>
		    <% end %>
	      <div class="links">
			     <%= link_to_add_association "Add Species", f, :transect_fishes, partial: 'fishes_fields' %>
	      </div>
	     </div>
	   </div>

	  <%= f.submit "Save Fish Transect", class: "btn-submit" %>
  <% end %>
</div>