<div class="main">
  <div class="container">
    <%= button_to "New Fish Transect", '/fish_transects/new', method: :get %>
    <%= button_to "Export CSV - Fish", fish_transects_path(request.parameters.merge({:format => :csv, format_data: "fish"})), method: :get %>
    <%= button_to "Export CSV - Diadema", fish_transects_path(request.parameters.merge({:format => :csv, format_data: "diadema"})), method: :get %>
    <h1>Fish Transects</h1>
    <table class="display table table-striped table-condensed table-sortable">
      <thead>
        <% #print table header %>
        <tr>
          <th>Diver</th>
          <th>Site</th>
          <th>Date</th>
          <th>Replicate</th>
          <th>Fish Species</th>
          <th>Diadema</th>
        </tr>
      </thead>
      <tbody>
        <% #print table fields %>
        <% @ftrans.each do |ft| %>
          <tr data-link="<%=fish_transect_path(ft.id)%>">
            <td><%= ft.user.name %></td>
            <td><%= ft.site.site_name %></td>
            <td><%= ft.date_completed %></td>
            <td><%= ft.rep %></td>
            <td><%= ft.countfishspecies %></td>
            <td><%= ft.countdiadema %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>