<div class="container">
<div class='formContainer'>
  <%= button_to "Back to Fish Transects", '/fish_transects', method: :get%>
  <%= button_to "New Fish Transect", '/fish_transects/new', method: :get %>
  <div class="showActions" style="margin-top: 20px">
    <div class="btn-group-vertical">
      <%= button_to('Edit Fish Transect', edit_fish_transect_path(@ftran), :method => "get") %>
      <%= button_to('Delete Fish Transect', @ftran, data: { confirm: 'Are you sure?' }, method: :delete) %>
    </div>
  </div>
  <div id="sampleSection" class="sectionDiv">
  <div class='show_section_1'>
    <div id='section_1'>

      <dl class="dl-horizontal">
        <dt>Proofed</dt><dd><%= @ftran.proofed %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Project</dt><dd><%= @ftran.manager.project %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Site</dt><dd><%= @ftran.site.site_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample Date</dt><dd><%= @ftran.date_completed %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Replicate</dt><dd><%= @ftran.rep %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>OC/CC</dt><dd><%= @ftran.oc_cc %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Notes</dt><dd><%= @ftran.notes %></dd>
      </dl>
    </div>

    <div id='section_2'>
      <h2>Diadema</h2>
      <table id="DiademaList", class="display table table-striped" style="width: auto">
        <thead>
          <% #print table header %>
          <tr>
            <th>Test Size (cm)</th>
          </tr>
        </thead>
        <tbody>
          <% @diademas.each do |d|  %>
            <tr>
              <td><%= d.test_size_cm %></td>
            </tr>   
          <% end %>
        </tbody>
      </table>
    </div>

    <div id='section_3'>
      <h2>Fish</h2>
      <table id="transectFishList", class="display table table-striped" style="width: auto">
        <thead>
          <% #print table header %>
          <tr>
            <th>Common Name</th>
            <th>Scientific Name</th>
            <th>0-5cm</th>
            <th>6-10cm</th>
            <th>11-20cm</th>
            <th>21-30cm</th>
            <th>31-40cm</th>
            <th>41-50cm</th>
            <th>51-60cm</th>
            <th>61-70cm</th>
            <th>71-80cm</th>
            <th>81-90cm</th>
            <th>91-100cm</th>
            <th>101-110cm</th>
            <th>111-120cm</th>
            <th>121-130cm</th>
            <th>131-140cm</th>
            <th>141-150cm</th>
            <th>&gt150cm</th>
          </tr>
        </thead>
        <tbody>
          <% @tranfs.each do |f|  %>
            <tr>
              <td><%= f.fish.common_name %></td>
              <td><%= f.fish.scientific_name %></td>
              <td><%= f.x0to5 %></td>
              <td><%= f.x6to10 %></td>
              <td><%= f.x11to20 %></td>
              <td><%= f.x21to30 %></td>
              <td><%= f.x31to40 %></td>
              <td><%= f.x41to50 %></td>
              <td><%= f.x51to60 %></td>
              <td><%= f.x61to70 %></td>
              <td><%= f.x71to80 %></td>
              <td><%= f.x81to90 %></td>
              <td><%= f.x91to100 %></td>
              <td><%= f.x101to110 %></td>
              <td><%= f.x111to120 %></td>
              <td><%= f.x121to130 %></td>
              <td><%= f.x131to140 %></td>
              <td><%= f.x141to150 %></td>
              <td><%= f.xgt150 %></td>
            </tr>   
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
</div>