<div class="main">
  <div class='container'>
    <p><%= button_to('Field Progress', "/sites", :method => "get") %></p>
    <h1><%= "#{@site.site_name} (#{@site.site_code})"%></h1>
    <h2>Fish Surveys</h2>
    <table id="siteFishSurveys", class="display table table-striped" style="width: auto">
      <thead>
        <% #print table header %>
        <tr>
          <th>Survey Type</th>
          <th>Transect Number</th>
          <th>Observer</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @fish_surveys.each do |s|  %>
          <tr>
            <td><%= SurveyType.find(s.survey_type_id).type_name %></td>
            <td><%= s.rep %></td>
            <td><%= User.find(s.user_id).name %></td>
            <td><%= s.boatlog.date_completed %></td>
          </tr>   
        <% end %>
      </tbody>
    </table>
    <h2>Benthic Surveys</h2>
    <table id="siteBenthicSurveys", class="display table table-striped" style="width: auto">
      <thead>
        <% #print table header %>
        <tr>
          <th>Survey Type</th>
          <th>Transect Number</th>
          <th>Observer</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @coral_surveys.each do |s|  %>
          <tr>
            <td><%= SurveyType.find(s.survey_type_id).type_name %></td>
            <td><%= s.rep %></td>
            <td><%= User.find(s.user_id).name %></td>
            <td><%= s.boatlog.date_completed %></td>
          </tr>   
        <% end %>
      </tbody>
    </table>
    </div>
</div>