<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "TCRMP Data Entry" %></title>
    <div class = "header">
      <div class="logo"><%= link_to image_tag("UVI_logo.jpg", :alt => "UVI logo", width: 75, height: 75, align: "middle" ), "home", tabindex: "-1" %></div>
      <% # logged-in user can see their name and logout button %>
      <% if current_user %>
        <a> <%= link_to current_user.name, '/userhome', tabindex: "-1" %></a>
        <a> <%= link_to "Log out", logout_path, method: "get", tabindex: "-1" %> </a>
      <% else %>
        <a><%= link_to "Log in", 'login', tabindex: "-1" %></a>
      <% end %>
      <a><%= link_to "About", 'about', tabindex: "-1" %></a>
      <div class = "title">TCRMP & ECMP Data Entry</div>
    </div>
    <% # allow flash messages (errors) %>
    <div class = "main">
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    </div>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= yield %>

  </body>
</html>
