<!DOCTYPE html>
<html>
  <head>
    <div class = "header">
      <div class="logo"><%= link_to image_tag("UVI_logo.jpg", :alt => "UVI logo", width: 75, height: 75, align: "middle"), "home" %></div>
      <% if current_user %>
        <a> <%= link_to current_user.name, '/userhome' %></a>
        <a> <%= link_to "Log out", logout_path, method: "get" %> </a>
      <% else %>
        <a><%= link_to "Login", 'login' %></a>
      <% end %>
      <a><%= link_to "About", 'about' %></a>
      <div class = "title">TCRMP Data Entry</div>
    </div>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
